<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Moods</title>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"  integrity="sha512-BqNYFBAzGfZDnIWSAEGZSD/QFKeVxms2dIBPfw11gZubWwKUjEgmFUtUls8vZ6xTRZN/jaXGHD/ZaxD9+fDo0A=="  crossorigin="anonymous"></script>
</head>
<body>
    <h2>Check out your moods:</h2>

    <canvas  id="moodChart"  width="400"  height="400"></canvas>
<script>
    const ctx = document.getElementById('moodChart').getContext('2d');

    const moodChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{{chartLabels}}},

            datasets: [{
                label: 'general mood',
                data: {{{moodData}}},
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 1
            },
            {
                label: 'stress',
                data: {{{stressData}}},
                fill: false,
                borderColor: 'rgb(153, 0, 0)',
                tension: 1
            },
            {
                label: 'sleep',
                data: {{{sleepData}}},
                fill: false,
                borderColor: 'rgb(51, 102 ,0)',
                tension: 1    
            },
            
            {
                label: 'sports',
                data: {{{sportData}}},
                fill: false,
                borderColor: 'rgb(255, 140, 0)',   //ab hier farben ändern
                tension: 1    
            },
            
            {
                label: 'work life',
                data: {{{workData}}},
                fill: false,
                borderColor: 'rgb(255, 185, 15)',
                tension: 1    
            },
            
            {
                label: 'social contacts',
                data: {{{socialsData}}},
                fill: false,
                borderColor: 'rgb(139, 0, 139)',
                tension: 1    
            },
            
            
            {
                label: 'self medication',    
                data: {{{drugData}}},
                fill: false,
                borderColor: 'rgb(139, 69, 19)',
                tension: 1    
            },

            {
                label: 'menstruation',       
                data: {{{menstruationData}}},
                fill: false,
                borderColor: 'rgb(255, 0, 255)',
                tension: 1    
            },
            
            {
                label: 'weather',    
                data: {{{weatherData}}},
                fill: false,
                borderColor: 'rgb(139, 131, 120)',
                tension: 1    
            },
            
            {
                label: 'medication',   
                data: {{{medicationData}}},
                fill: false,
                borderColor: 'rgb(85, 26, 139)',
                tension: 1    
            },

            {
                label: 'nutrition / food',
                data: {{{nutritionData}}},
                fill: false,
                borderColor: 'rgb(50, 205, 50)',
                tension: 1    
            }]
        },
        options: {
            scales:{
                y: {
                    beginAtZero: true,
                    max: 100,
                    min: 0
                
                }
            }
        }
    });
</script>

</body>
</html>